<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<%- include('partials/_header') %>
  
<form class="form-inline" action="/register" method="POST">
  <div>
    <label for="emailAddress">Please input your email address: </label>
    <input
      class="form-control"
      type="email"
      name="email"
      placeholder="example@lighthouselabs.com"
      style="width: 300px; margin: 1em"
    />
    <div>
      <label for="password">Please input your password: </label>
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Pick a good one."
      style="width: 300px; margin: 1em"
    />
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
</body>
</html>